/* Box-sizing global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales */
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #333;
    margin-bottom: 20px;
}

header h1{
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    */
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Catalogo usando solo box model */
.catalog {
    width: 90%; /* ancho del contenedor */
    margin: 0 auto; /* centrado horizontal */
    padding: 20px;
    border: 1px solid red;
    overflow: hidden;
}

/* Tarjeta */
.card {
    width: 25%; /* ancho fijo del contenido */
    margin: 0 20px 20px 0; /* margin: derecha y abajo */
    float: left; /* permite que se alineen horizontalmente */
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px; /* padding interno */
    background-color: white;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.card:hover {
   border-color:blue;   
   transform: translateY(-10px);
   box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Ultima tarjeta de cada fila: quitar margin derecha */
.card:nth-child(3n) {
    margin-right: 0;
}

/* Imagen de la tarjeta */
.card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/* Título y descripción */
.card h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1rem;
}

.card p {
    font-size: 1rem;
    color: #666;
}

/* Footer */
footer {
    clear: both; /* limpiar floats */
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #333;
    margin-top: 20px;
}