.header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid #1a252f;
    text-align: center;
}

/* CONTENEDOR PRINCIPAL */
.container {
    width: 90%;
    margin: 0 auto;
    border: 2px solid blue;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 25%;
    height: 30vh;
    float: left;
    background-color: #ecf0f1;
    padding: 15px;
    border: 2px solid #bdc3c7;
    margin-right: 2%;
}

/* CONTENIDO */
.content {
    width: 73%;
    height: 30vh;
    float: left;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #bdc3c7;
}

/* FOOTER */
.footer {
    clear: both;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border: 3px solid #1a252f;
    text-align: center;
}
