body { font-family: Arial, sans-serif; margin: 40px; }
h2{text-align: center;}
label { display: block; margin-top: 15px; width: 100%; }
button { padding: 8px; width: 100px; }
input { padding: 8px; width: 300px; }
#miFormulario {display:flex;                
               flex-wrap: wrap;               
               width: 35%;               
               margin: 0 auto;}
.btnContainer {display: flex; 
               flex-wrap: nowrap;
               width: 100%;
               gap: 10px;
               justify-content: center;}               
.submit {background-color: #007bff; color: white;}
.reset { background-color: #6c757d; color: white;}
.error { border: 2px solid red; }
.mensaje { color: red; font-size: 0.9em; }
.success { color: green; font-size: 1em; margin-top: 10px; }
.submit:hover {background-color: #218838;}
.reset:hover {background-color: #fd7e14;}